@model Product
<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <div class="box__product--img">
                    <div>
                        <a href="productDetail/@Model.ProductID"><img src="/images/shop/@Model.ImagePath" alt="@Model.ImagePath" /></a>
                    </div>
                </div>
                <a href="#">
                    <h2>@Model.UnitPrice $</h2>
                    <p>@Model.ProductName</p>
                </a>
                <form id="@Model.ProductID" asp-page="/Cart" method="post" class="btn">
                    <input type="hidden" asp-for="@Model.ProductID" />

                    <button type="submit" class="btn add-to-cart">
                        <i class="fa fa-shopping-cart"></i>Add to cart
                    </button>
                </form>
            </div>
            @*<div class="product-overlay">
                    <div class="overlay-content">
                        <h2>@product.UnitPrice.ToString("c")</h2>
                        <p>@product.ProductName</p>

                    </div>
                </div>*@
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
            </ul>
        </div>
    </div>
</div>