@page
@model MADAM_Boutique.Pages.CartModel


<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed position-relative">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var line in Model.Cart.Lines)
                    {
                        <tr class="item">
                            <td class="cart_product">
                                <a href=""><img src="/images/shop/@line.Product.ImagePath" alt="@line.Product.ImagePath" width="110" height="110"></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="">@line.Product.ProductName</a></h4>
                                <p>Web ID: @line.CartLineID</p>
                            </td>
                            <td class="cart_price">
                                <p>@line.Product.UnitPrice.ToString("c")</p>

                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button d-flex">
                                    <button type="button" class="quantity-input-up"> + </button>
                                    <input class="cart_quantity_input border-0" type="text" id="quantity" value="@line.Quantity" autocomplete="off" size="2">
                                    <button type="button" class="quantity-input-down"> - </button>
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">@((line.Quantity * line.Product.UnitPrice).ToString("c"))</p>
                            </td>
                            <td class="cart_delete">
                                <form asp-page="/RemoveLine" method="post">
                                    <input type="hidden" asp-for="@line.Product" />
                                    <button type="submit" class="btn cart_quantity_delete">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </form>

                            </td>
                        </tr>
                    }
                    <tr class="box-pay">
                        <td>
                            <a href="/pay">Pay Now</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</section> <!--/#cart_items-->

<script>
    $(function () {
        $(".quantity-input-up").click(function () {
            var inpt = $(this).parents().find($('input#quantity'));
            var val = parseInt(inpt.val());
            inpt.val(val + 1);
        });
        $(".quantity-input-down").click(function () {
            var inpt = $(this).parents().find($('input#quantity'));
            var val = parseInt(inpt.val());
            if (val < 0) inpt.val(val = 0);
            if (val == 0) return;
            inpt.val(val - 1);
        });
    });
</script>

